.footer-bottom img {
    width: 2vw;
    height: 1.8vw;
}

.social-logo {
    width: 35px;
    height: 35px;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2vw;
}

.footer-link-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1vw;
}

.footer-letter-bottom form input {
    height: 2.5vw;
    width: 27vw;
}

.footer-letter-bottom form button {
    height: 2.5vw;
    width: auto;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2vw;
    padding-bottom: 0.5vw;
}

.footer {
    background-color: white;
}

.footer-bottom-right-top {
    display: flex;
    flex-direction: row-reverse;
}

@media only screen and (max-width: 600px) {

    .footer-top {
        flex-direction: column;
    }

    .footer-link-top h2 {
        font-size: medium;
    }
    
    .footer-link-bottom {
        flex-direction: column;
    }

    .footer-link-bottom p {
        font-size: smaller;
    }

    .footer-letter {
        flex-direction: column;
    }

    .footer-letter-top h2 {
        font-size: medium;
    }

    .footer-letter-bottom-form {
        font-size: smaller;
    }

    .footer-letter-bottom-input {
        width: 10vh;
        height: 5vh;
    }

    .footer-letter-bottom-form button {
        width: 10vh;
        height: 5vh;
    }

    .footer-letter-bottom-button {
        font-size: smaller;
    }
}