.navbar{
    padding: 1vw 4vw;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    background-color: antiquewhite;
    border-bottom: 2px solid white;
}

.navbar-logo{
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.navbar-menu{
    font-size: 18px;
    display: flex;
    align-items: center;
    margin: auto;
}

.navbar-menu a{
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 1vw;
    color: black;
}

.navbar-menu a:hover{
    text-decoration: underline;
}

.navbar-icon{
    font-size: 25px;
}

.cart-count {
    margin-right:20px ;
}

@media only screen and (max-width: 600px) {
    .navbar-logo{
        font-size: 15px;
    }

    .navbar-menu a{
        font-size: smaller;
    }

  }